[submodule "externals/glm"]
	path = externals/glm
	url = git://github.com/g-truc/glm.git	
[submodule "externals/openal-soft"]
	path = externals/openal-soft
	url = http://repo.or.cz/openal-soft.git
[submodule "externals/Optional"]
	path = externals/Optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "externals/glew-cmake"]
	path = externals/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
